
<div>
    <div *ngIf="backButtonActive" style="padding-left: 1%; padding-top: 1%">
      <button class="btn btn-primary" (click)="loadPreviousView()">Zurück</button>
    </div>

    <div style="padding-right: 10%; padding-left: 10%; padding-top: 5%">
      <div *ngIf="!matchSelected" id="ranking">
        <app-ranking (teamSelectedChange)="onTeamSelectedChanged($event)"
                     (tournamentSelectedChange)="onTournamentSelectedChanged($event)" [tournamentSelectedChanged]="tournamentSelected"
                     (tournamentIDChange)="onTournamentIDChanged($event)" [tournamentID]="tournamentID"></app-ranking>
      </div>

      <div *ngIf="matchSelected">
        <app-matches [selectedTeam]="teamSelected"></app-matches>
      </div>

      <div *ngIf="tournamentSelected">
        <app-currentround [tournamentID]="tournamentID"></app-currentround>
      </div>

    </div>
</div>
