<div [hidden]="tournamentSelected">
  <h1 style="text-align: center; margin-bottom: 5%">Wählen sie ein Turnier aus:</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tournament of tournaments" (click)="showTournament(tournament.id)">
        <td>{{tournament.name}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div  *ngIf="_showEndStatistic" >
  <div style="margin-bottom: 3%">
    <h1 style="text-align: center">{{tournament.name}}</h1>
  </div>

  <div class="row centered-form center-block" style="margin-bottom: 5%">
    <div class="container col-md-12 col-md-offset-3">
        <div class="row" style="width: 100%">

          <div class="col-md-2">
            <button type="button" style="background-color: gold; width: 100%" class="btn">{{podest[0]}}</button>
          </div>
          <div class="col-md-2">
            <button type="button" style="background-color: silver; width: 100%" class="btn">{{podest[1]}}</button>
          </div>
          <div class="col-md-2">
            <button type="button" style="background-color: #cd7f32; width: 100%" class="btn">{{podest[2]}}</button>
          </div>

      </div>
    </div>
  </div>

  <div>
    <table class="table table-hover text-centered">
      <thead>
        <tr>
          <th class="col-md-6">Name</th>
          <th class="col-md-6">Rang</th>
        </tr>
      </thead>
      <tbody class *ngFor="let team of teams">
          <tr (click)="showMatches(team.id)">
            <td class="col-md-6">{{team.name}}</td>
            <td class="col-md-6">{{team.rankdesc}}</td>
          </tr>
      </tbody>
    </table>
  </div>


  <div style="margin-top: 10%; margin-bottom: 3%">
    <h1 style="text-align: center">Alle Matches:</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th style="text-align: center">Team Nr.1</th>
        <th style="text-align: center">Ergebnis</th>
        <th style="text-align: center">Team Nr. 2</th>
      </tr>
      </thead>
      <tbody *ngFor="let match of allMatches">
      <tr>
        <td style="text-align: center">{{match.team1}}</td>
        <td style="text-align: center">{{match.result}}</td>
        <td style="text-align: center">{{match.team2}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
